---
- name: test
  hosts: all
  become: yes

#  tasks:
#    - name: ansible create directory example
#      file:
#        path: /home/ubuntu/bruce-test-ansible-dir-role
#        state: directory

#  pre_tasks:
#    - include_role:
#        name: common

  roles:
    - role: dir
    - role: nginx
      when: tags['env'] == 'prod'
#      when: ec2_tag_env == "prod"
...
